/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Specific Styles */
#hero {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fhansagri.com%2Fproduct%2Fportable-biogas-plant-nano-500-v2%2F&psig=AOvVaw0l3St-sZFcKTpp1sLlk5aL&ust=1707109978185000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCKimjbX2kIQDFQAAAAAdAAAAABAE');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.biogas-img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}
